.about {
		padding: 160px 0;

	&__title {
		margin-bottom: 30px;
		transform: translatey(-220%);
	}

	&__description-first {
		margin-bottom: 20px;
	}

}

@include lg-screen {
	.about {
		padding: 80px 0;
	}
}
@include sm-screen {
	.about {
		padding: 40px 0;
	}
}

@include lg-screen {
	.about__title {
		margin-bottom: 20px;
	}
}

@include sm-screen {
	.about__title {
		margin-bottom: 15px;
	}
}

