* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: 	100%;
	background-color: #fff;
	color: $dark;
}

@include lg-screen {
	body {
		font-size: px_to_em(14px);
	}
}
@include sm-screen {
	body {
		font-size: px_to_em(12px);
	}
}

.container {
	width: 100%;
	max-width: 930px;
	margin: auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $dark;
	border-left: 2px solid $dark;
	border-right: 2px solid $dark;
	padding: 60px 160px 40px;
	text-align: center;
	position: relative;

	@include before;
	@include after;

	@include lg-screen {
			@include before {
				width: 150px;
			}
		}

		@include md-screen {
			@include before {
				width: 80px;
			}
		}

		@include lg-screen {
			@include after {
				width: 150px;
			}
		}

		@include md-screen {
			@include after {
				width: 80px;
			}
		}

}

.wrapper-white {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $white;
	border-left: 2px solid $white;
	border-right: 2px solid $white;
	padding: 60px 160px 40px;
	text-align: center;
	position: relative;

	@include before-white;
	@include after-white;

		@include lg-screen {
			@include before-white {
				width: 150px;
			}
		}

		@include md-screen {
			@include before-white {
				width: 80px;
			}
		}

		@include lg-screen {
			@include after-white {
				width: 150px;
			}
		}

		@include md-screen {
			@include after-white {
				width: 80px;
			}
		}
}

@include lg-screen {
	.wrapper,
	.wrapper-white {
		padding: 40px 40px 30px;
	}
}

@include sm-screen {
	.wrapper,
	.wrapper-white {
		padding: 30px 20px 20px;
	}
}

.oll-title {
	position: absolute;
	top: 0;
	// left: 50%;
	text-align: center;
	text-transform: uppercase;
	font-size: px_to_em(30px);
	font-weight: 800;
	letter-spacing: 0.1em;
	color: $dark;
}

@include lg-screen {
	.oll-title {
		font-size: px_to_em(20px);
		margin-bottom: 20px;
	}
}

@include sm-screen {
	.oll-title {
		font-size: px_to_em(18px);
		margin-bottom: 20px;
	}
}