.contact {
		padding: 160px 0;

	&__title {
		transform: translatey(-50%);
	}

	&__description {
		margin-bottom: 20px;
		line-height: 1.8rem;
	}

	&__btn {
  		display: block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 5px;
		padding: 20px 130px;
		color: $white;
		background-color: $dark;

	}
@include lg-screen {
	.contact__btn {
		padding: 20px 80px;
		letter-spacing: 2px;
	}
}
@include sm-screen {
	.contact__btn {
		padding: 15px 15px;
		letter-spacing: 1px;
	}
}


	&__btn:hover {
		color: $dark;
		background-color:  $white;
		font-weight: 800;
		box-shadow: 0 0 15px 2px $dark;
		transition: all .3s ease;
	}

}