@font-face {
	font-family: "Montserrat-Regular";
	src: url(assets/fonts/Montserrat-Regular.ttf);
}

$main-font: "Montserrat-Regular";

$base-size: 16px;

$dark:       #60606e;
$dark-light: #999999;
$white:      #ffffff;
$turquoise:  #7beec7;
$bg-quote:   #efeff0;
$bg-form:    #fefcf9;
$text-form:  #cccccc;
$info-text:  #9f9f9f;

