@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

///COLORS

$blue: #469dff;
$dark: #5a5a5a;
$white: #ffffff;
$bg-expert-clients: #f1f8ff;
$grey-menu: #d2d2d2;

$logo-border-1: #5397fe;
$logo-border-2: #589bfe;

//FONTS
$main-font: 'Lato', sans-serif;

$base-size: 16px;