.footer {
	padding: 20px 0px;
	color: $dark-light;

	@include lg-screen  {
		padding: 40px 0px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		list-style: none;

		@include sm-screen  {
			flex-direction: row;
		}

		&-item::before {

		}

		&-link {
			font-size: px_to_rem(14px);
			font-family: $sec-font;
			text-transform: uppercase;
			color: $dark-light;
		}

		&-link:hover,
		&-link:active {
			text-decoration: none;
			font-weight: bold;
			color: $dark-light;
		}
	}

	&__r-side-text {
		font-size: px_to_rem(14px);
		font-family: $sec-font;
		text-transform: uppercase;
		color: $dark-light;
	}

	&__socials {
		display: flex;
		list-style: none;

		&-item:not(:last-child) {
			margin-right: 10px;
		}

		&-link {
			@include square(40px);
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
			color: $dark-light;
			transition: all 0.3s ease;

			&:hover {
			color: $turquoise;
		}
	}
}



}