.services-do {
	padding: 20px 0px 15px;

	@include sm-screen  {
		padding: 50px 0px 30px;
	}

	@include lg-screen  {
		padding: 100px 0px 60px;
	}

	&__title {
		text-align: center;
		font-size: px_to_rem(30px);
		font-family: $logo-font;
		text-transform: uppercase;
		line-height: 2;
		margin: 0;
	}

	&__subtitle {
		text-align: center;
		font-size: px_to_rem(14px);
		font-family: $sec-font;
		line-height: 1.8;
		margin-bottom: 0;
	}

	&__block {
		padding: 30px 0 0;

		@include sm-screen  {
			padding: 50px 0 0;
		}

		@include md-screen  {
			padding: 100px 0 0;
		}

		&-text {
			font-size: px_to_rem(14px);
			font-family: $sec-font;
			line-height: 2;
			margin-bottom: 0;
			padding-bottom: 40px;
		}
		&-list {
			list-style: none;
			font-size: px_to_rem(14px);
			font-family: $sec-font;
			line-height: 1.8;
			margin-bottom: 0;
			text-align: center;

			@include sm-screen  {
				text-align: left;
			}
		}
		&-item p {
			margin: 0;
			line-height: 2.5;
		}

		&-img {
			vertical-align: baseline;
			width: 12px;
			height: 12px;

		}
	}

	&__block-skils {
		padding: 15px 0 0;

		@include sm-screen  {
			padding: 30px 0 0;
		}

		@include md-screen  {
			padding: 50px 0 0;
		}

		&-text {
			font-size: px_to_rem(14px);
			font-family: $sec-font;
			line-height: 2;
			margin-bottom: 0;
		}

		&-title {
			text-transform: uppercase;
			font-size: px_to_rem(18px);
			font-family: $logo-font;
			line-height: 1.8;
			margin-bottom: 0;
			padding-bottom: 20px;

			@include sm-screen  {
				text-align: left;
			}
		}

		&-img {
			vertical-align: baseline;
			width: 12px;
			height: 12px;

		}
	}


}