@font-face {
	font-family: 'Lato-Light';
	src: url("../font/Lato-Light.ttf");
}

@font-face {
	font-family: 'Lato-Regular';
	src: url("../font/Lato-Regular.ttf");
}

@font-face {
	font-family: 'Lato-Bold';
	src: url("../font/Lato-Bold.ttf");
}

*{
	margin:     0;
	padding:    0;
	box-sizing: border-box;
}

body {
	font-size:        100%;
	color:            #3c3c3c;
	background-color: #f6f6f6;
	font-family:      'Lato-Light';
	/* padding:          120px 0; */
}
.container {
	width:     100%;
	max-width: 1200px;
	margin:    0 auto;
	padding:   0 15px;
}

.about {
/* padding-top:   110px; */
max-width: 1165px;
}

.header {
   width:      100%;
	max-width:  570px;
	padding:    110px 0px 60px;
	margin:     0 auto;
	text-align: center;
}

.title {
	text-align:     center;
	text-transform: uppercase;
	font-family:    'Lato-Bold';
	letter-spacing: 3px;
}

.title::after {
	content: 			"";
	display:          block;
	background-color: #dddbdb;
	width:            45px;
	height:           5px;
	margin:           10px auto 40px;
}

.description {
	font-size:   16px;
	text-align:  center;
	line-height: 25px;
}

.emploees-link:hover {
	background-color: #18b5dc;
}