.footer {
	display:          flex;
	align-content:    flex-end;
	width:            100%;
	max-height:       85px;
	color:            $white;
	font-size:        px_to_em(15px);
	background-color: $dark;
	padding:          20px 180px 10px 180px;
	bottom:           0;
	margin:           0;
	border-bottom:    6px ridge #3e3e3e;
}

.footer-items {
	display:         flex;
	flex-direction:  row;
	justify-content: space-between;
	// padding-bottom: 10px;


		&__right {
		display:         flex;
		justify-content: space-between;
		opacity:         0.5;
   	min-width:       360px;
		}

		&__logo {
		transform: translateX(-81px);
		}

		&__made {
		opacity:           0.5;

			span {
				color:       $pink;
				font-weight: 800;
				opacity:     1;
			}

			.develop {
				text-decoration: none;
				color:           $white;
			}
		}


}

