.c-form {
	padding-top: px_to_em(50px);
	display: flex;
	justify-content: center;


	&__title {
		width: 100%;
		text-transform: capitalize;
		font-weight: 700;
		font-family: $main-font;
		text-align: center;
		color: $dark;
		font-size: px_to_em(70px);
		margin-bottom: 15px;
	}

	&__subtitle {
		font-family: $main-font;
		font-size: px_to_em(17px);
		text-align: center;
		line-height: px_to_em(20px);
		margin-bottom: 15px;
		max-width: px_to_em(350px);
	}

}

.feedback {
	display: flex;
	
	justify-content: space-between;

	padding: 20px;
	max-width: 920px;


		&__left {
			display: flex;
			// justify-content: space-around;

			.form {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-height: 350px;
				min-width: 400px;
				font-family: $main-font;
				color: $white;
				
				&__input {
					padding: 5px;
					background-color: $aqua;
					border: 4px solid $aqua;
					font-family: $main-font;
					color: $white;
					font-size: px_to_em(15px);
				}

				&__input:hover {
					border-left: 4px solid $dark-blue;
					border-top: 4px solid $dark-aqua;
					border-right: 4px solid $dark-aqua;
					border-bottom: 4px solid $dark-aqua;
					background-color: $dark-aqua;
					}

					.text {
						min-height: 150px;
					}

					.btn {
						font-size: px_to_em(17px);
					}

					.btn:hover {
						background-color: $dark-aqua;
						border-left: 4px solid $dark-aqua;
					}
			}

		}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

		&__right {

			// padding-right: 50px;
			
			.feedback__right-contact {
				font-size: px_to_em(17px);
				font-weight: 800;
				text-transform: uppercase;
				margin-bottom: 5px;
			}

			.feedback__right-description {
				font-size: px_to_em(15px);
				margin-bottom: 20px;
			}
			.feedback__right-description:last-child {
		 		margin: 0;
			}
			
		}

}

















