@import url('fonts.googleapis.com/css?family=Raleway:400,600,900&display=swap" rel="stylesheet');

// COLORS

$dark: #262626;
$white: #fff;
$aqua: #7adbdb;
$dark-aqua: #00c4c4;
$dark-blue: #355b82;
$pink: #ff2b58;




//FONTS
$main-font: 'Raleway', sans-serif;


$base-size: 16px;