* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.5s ease;
}

html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: 'Heebo', sans-serif;
	background-color: #e2e7ec;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.blog {
	padding: 90px 0;
}

.blog__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 30px;
	height: 1100px;
}

.blog__item {
	display: block;
	flex-basis: 100px;
   align-content: space-between;
   position: relative;
 }

.blog__link-first {
	display: block;
	width: 100%;
	min-width: 740px;
	max-width: 740px;
	height: 540px;
	text-decoration: none;
	color: #000;
	position: relative;
}

.blog__link-first h1 {
	font-size: 30px;
	font-weight: 800;
}

.blog__link {
	align-items: center;
	display: block;
	width: 100%;
	min-width: 360px;
	max-width: 360px;
	height: 540px;
	text-decoration: none;
	color: #000;
	position: relative;
	background-color: #fff;
}

.blog__link:hover {
	transform: translateY(-10px);
	
}

.blog__link-first:hover {
	transform: translateY(-10px);
	/* transition: all 1s ease; */
}

.blog-shadow {
	box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.5);
}

.blog__title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	margin-bottom: 20px;

}

.blog__footer {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px;
	width: 100%;
	max-width: 400px;
	min-width: 280px;
	max-height: 400px; 
}

.blog__footer-first {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 25px;
	width: 100%;
	color: #fff;
}

.blog__img {
	margin-bottom: 25px;
}



.blog__date {
	text-transform: capitalize;
	margin-bottom: 20px;
	display: inline-block;
}