/* Talk are  */
.talk_area{
    background-image: linear-gradient( 10deg, rgb(110,189,254) 0%, rgb(155,138,255) 100%);
    background-image: -webkit-linear-gradient( 10deg, rgb(110,189,254) 0%, rgb(155,138,255) 100%);
    background-image: -ms-linear-gradient( 10deg, rgb(110,189,254) 0%, rgb(155,138,255) 100%);
    padding: 80px 0px 80px 0px;
    border-bottom: 2px solid #fff;
}
.talk_text{
    text-align: center;
    &__title {
        font-size: 48px;
        color: #fff;
        font-family: $rob;
        font-weight: 600;
        padding-bottom: 20px;
    }

    &__subtitle {
        font-size: 20px;
        font-family: $rob;
        font-weight: bold;
        text-transform: uppercase;
        color: $pfont;
        padding-bottom: 20px;
    }

    &__link {
        font-size: 48px;
        color: #fff;
        font-family: $rob;
        font-weight: 600;

        &:hover {
            color: $pfont;
            @include transition;
        }
    }
}

/*End Talk are  */