 /*Footer Area */
 .footr_area{
    background:  linear-gradient(top, #9b8aff 0%, #094f8a 100%);
}
.footer_widget_area{
    padding: 40px 0px 30px 0px;

}
.footer_widget_inner{
 margin: 0;
}

.f_about_widget{

    &__title {
        color: $dip-light;
        font-size: 18px;
        font-family: $rob;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 15px;
    }
    &__text{
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        font-family: $rob;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__link {
        color: $dip-light;
        font-size: 15px;
        font-family: $rob;
        font-weight: 500;
        cursor: pointer;
    }

    &__link:hover {
        color: #fff;
        @include transition;
    }
}

.footer_copyright{
    overflow: hidden;
    padding: 20px 0px;
    .float-sm-left{
        &__text{
            font-size: 14px;
            color: #2a2f56;
            font-family: $rob;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 29px;
        }
    }
    .float-sm-right,
    .socials{
        &__list{
        }
        &__item{
            display: inline-block;
            margin-right: 32px;
        }
        &__link{
            font-size: 14px;
            color: #2a2f56;
            @include transition;
        }
        &__item:last-child{
            margin-right: 0px;
        }
        &__item:hover{
            a{
                color: #fff;
                @include transition;
            }
        }

    }
}
/* End Footer Area */