* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	color: $white;
	font-weight: 400;
	font-size: 16px;

}

.container {
	width: 100%;
	max-width: 400px;
	margin: auto;
	padding: 0 15px;
}



// h1 {
//   font-size: 2em;
//   margin: 0.67em 0;
// }