@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// COLORS

$dark: #262626;
$white: #fff;
$green: #23ae92;

$white-tr: #e1c2f1;
$dark-aqua: #00c4c4;
$dark-blue: #355b82;
$pink: #ff2b58;




//FONTS
$main-font: 'Quicksand', sans-serif;


$base-size: 16px;



// // Needs latest Compass, add '@import "compass"' to your scss
// // Permalink - use to edit and share this gradient:
// // https://colorzilla.com/gradient-editor/#261e96+0,7444c0+35,7444c0+35,9654c9+50,f986e4+100
// background-color: rgb(38,30,150); // Old browsers
// @include filter-gradient(#261e96, #f986e4, horizontal); // IE6-9 fallback on horizontal gradient
// @include background-image(linear-gradient(left bottom,  rgba(38,30,150,1) 0%,rgba(116,68,192,1) 35%,rgba(116,68,192,1) 35%,rgba(150,84,201,1) 50%,rgba(249,134,228,1) 100%));
