@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:500,700&display=swap');

// COLORS

$dark: #666666;
$grey: #cdcdcd;
$white: #ffffff;
$yellow: #ffcc00;



//FONTS
$main-font: 'Raleway', sans-serif;;
$title-font: 'Roboto', sans-serif;

$base-size: 16px;