*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.section-title-wrap {
	margin-bottom: 80px;
}

.section-gap {
	padding: 120px 0;
}

.section-title {
	font-family: $title-font;
	font-size: 44px;
	text-transform: uppercase;
}

.mon-btn {
	display: block;
	text-align: center;
	color: $black_color;
	font-family: $menu-font;
	font-size: 14px;
	border: 1px solid $black_color;
	padding: 15px 35px;
	width: 100%;
	max-width: 200px;
}
