body {
	font-style: italic;
	font-size: 18px;
	background: #F3F3F2;
}


li {
    list-style-type: none; 
   }


ul {
    margin-left: 0; 
    padding-left: 0; 
   }

input[type="checkbox"]:checked + span { color: red; }