.subscribe {
	// background-size: cover;
	background-color: $white;
	padding:    100px 0 150px 0;

		@include md-screen {
			padding:   50px 0 50px 0;
		}

	.subscribe-wrapper {
		background: url("../img/bg_subscr.jpg") right no-repeat;
		width:      100%;
		min-width:  600px;

		@include md-screen {
			min-width: 300px;
		}
	}

	&__title {
		font-size:      px_to_rem(40px);
		font-weight:    900;
		text-transform: capitalize;
		margin-bottom:  30px;
	}

	&__description {
		width:         100%;
		max-width:     545px;
		line-height:   1.8em;
		margin-bottom: 30px;

		@include lg-screen {
			max-width:        550px;
			background-color: rgba(0, 0, 0, .3);
			border-radius:    15px;
			padding:          20px;
			color:            $white;
		}
		@include md-screen {
			max-width:     450px;
		}
	}

	&-form {
		display:         flex;
		justify-content: space-between;
		width:           100%;
		max-width:        775px;

		@include md-screen {
			max-width:      450px;
			flex-direction: column;
			min-height:     100px;
		}


	&__input {
		width:      100%;
		max-width:  540px;
		border:     1px solid $dark;
   	background: transparent;
   	padding:    10px;
   	color:      $dark;
		font-size:  px_to_rem(15px);

		@include md-screen {
			background-color: rgba(0, 0, 0, .3);
			color:            $white;
		}

	}

	input[type="text"]::-webkit-input-placeholder { color: $light-grey; }
	input[type="text"]:-ms-input-placeholder { color: $light-grey; }
	input[type="text"]::-ms-input-placeholder { color: $light-grey; }
	input[type="text"]::placeholder { color: $light-grey; }

@include md-screen {
	input[type="text"]::-webkit-input-placeholder { color: $white; }
	input[type="text"]:-ms-input-placeholder { color: $white; }
	input[type="text"]::-ms-input-placeholder { color: $white; }
	input[type="text"]::placeholder { color: $white; }
		}

		.btn-subscribe {
			@extend .btn;
			background-color: $btn-bg-subs;
			padding:          10px 15px;
			border: none;
		}
		
	}
}
